<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stuffs</title>
</head>

<body>
    {%  if not urls|length %}
        <p>No Urls found</p>
    {% else %}
        list urls here
    {% endif %}
</body>
</html>